.gallery {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px 16px;
  margin: 26px auto 92px;
}

.gallery__item {
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 544px) {
  .gallery {
    grid-template-columns: 1fr;

    grid-gap: 12px;
    margin: 0 16px 64px;
  }
}

@media screen and (min-width: 545px) and (max-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(2, 1fr);

    grid-gap: 16px;
    margin: 0 24px 88px;
  }
}
